.container
{
    display:flex;
}
#col1
{
display: inline-block;
}
.col
{
    height: 100px;
    width: 150px;
}
#image
{
    height: 169px;
    width: 179px;
    border-radius: 50%;
    border: 1px solid;
}
#heading
{
    font-size: 20px;
    font-family: 'Courier New',cursive;
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
}

#headingborder
{
    border: 3px groove;
    width: 145px;
    padding-left: 28px;
    margin-left: 11px;
    height: 33px;
}
.box
{

    width: 258px;
    height: 280px;
    border: 1pxx solod black;
    
    padding-left: 35px;
    padding-top: 12px;
    display: inline-block;
    margin-left: 40px;
}
#box1
{
    margin-left: 180px;
}
.text
{
    font-size: 10px;
    font-style: oblique;
}
