.navbarnew
{
    color: rgb(176, 250, 225);
}

.alert {
    position: relative;
    padding: 0.15rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #634e4eeb;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 0.5;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-1px ease-in-out,box-shadow .15s ease-in-out;
}
